@import url('https://fonts.cdnfonts.com/css/netflix-font');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Netflix Font', sans-serif;
}

/* html{
    font-size: 0.625;
} */

body {
    background-color: #020221;
}

.container {
    height: 100vh;
    width: auto;
    background: -webkit-linear-gradient(rgba(1, 3, 50, 0.5), rgba(0, 3, 100, 0.4)), url("/image/background1.jpg");
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.netflix-nav {
    width: 80%;
    display: flex;
    margin: auto;
    height: 10vh;
}

.netflix-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.netflix-left img {
    width: 10rem;
    align-items: center;
    /* filter: brightness(100%); */
}

.netflix-right {
    width: 70%;
    display: flex;
    align-self: center;
    justify-content: right;
    color: white;
}

.netflix-right .lang {
    padding-right: 0.2em;
    cursor: pointer;
}

.netflix-right .sign-in {
    border: 0.063rem solid red;
    background-color: red;
    border-radius: 0.188rem;
    border-width: 0.4rem;
    cursor: pointer;
}

.netflix-right .sign-in p {
    display: flex;
    position: relative;
    top: 0.15em;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.netflix-right .lang p {
    border: 0.063rem solid lightgray;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.399rem 1rem;
    border-radius: 0.25rem;
}

.fa-sort-down {
    position: relative;
    bottom: 0.156rem;
}

.text-content {
    width: 100%;
    height: 32vh;
    margin: auto;
}

.text-content h1 {
    display: flex;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: end;
    font-size: 5rem;
    font-weight: bold;
    flex-wrap: wrap;
    color: white;
}

.text-content h2 {
    display: flex;
    font-size: 2rem;
    color: white;
    padding-left: 0.2em;
    height: 7vh;
    align-items: center;
}

.hero-content {
    width: 70%;
    height: 100%;
    margin: auto;
}

.membership {
    position: relative;
    background: linear-gradient(to right, rgb(225, 10, 10), blue);
    padding: 0.65rem;
    margin-top: 3.5rem;
    border-radius: 0.5rem;
    z-index: 999;
}

.email {
    background-color: rgb(3, 5, 30);
    padding: 0.188rem;
    color: white;
    border-radius: 0.313rem;
}

.e-b-box {
    padding: 0 1.5rem 1.5rem 2.5rem;
}

.e-b-box input {
    width: 25rem;
    height: 3.4rem;
    padding-top: 0.3rem;
    border-radius: 0.313rem;
    background-color: rgb(19, 19, 19);
    border: 0.006rem solid grey;
    color: white;
    padding-left: 1rem;
}

.e-b-box button {
    width: 12rem;
    height: 3.499rem;
    background-color: rgb(243, 24, 24);
    color: white;
    font-size: larger;
    font-weight: 550;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.btn {
    margin-left: 0.3rem;
}

.e-b-box button:hover {
    background-color: rgb(255, 46, 46);
    transition: 0.2s;
}

.center-email h3 {
    font-weight: 500;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}

.section {
    width: 80%;
    height: fit-content;
    margin: auto;
    position: relative;
    top: 36vh;
}


.section-main {
    width: 100%;
    display: flex;
    background-color: #090322;
    height: 100%;
    justify-content: center;
    display: flex;
    padding: 0 9rem;
}



.section-main:nth-child(4) {
    border: none;
}

.section-main .text-1 {
    height: 100%;
    color: white;
    margin: auto;
}

.section-main .img-1 {
    margin: auto;
}

.text-1 h1 {
    font-size: 2.7rem;
    font-weight: bolder;
}

.text-1 p {
    font-size: 1.1rem;
}

.Question {
    width: 100%;
    height: 100vh;
    align-items: center;
    margin: 20vh auto;
    margin-bottom: 0;
}

.Q-heading {
    background: #020221;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
}

.Q-box {
    width: 80%;
    height: auto;
    align-items: center;
    background-color: #020220;
    margin: auto;
    color: white;
}

.Q-box h2 {
    font-weight: 500;
}

.Q-row {
    background-color: rgb(19, 33, 68);
    margin-bottom: 0.6rem;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Q-row h2 {
    padding: 1rem;
}

.fa-add {
    padding-right: 1.1rem;
    font-size: 2rem;
    font-weight: lighter;
}

.sec-end {
    padding: 0.8rem 0;
    font-size: 1.2rem;
}

.bottom-email {
    padding: 0;
}

footer {
    background-color: #020220;
    height: 50vh;
    width: 100%;
}

.footer-box {
    height: fit-content;
    width: 60%;
    margin: auto 9.5rem;
}

.footer-box .number {
    display: block;
    color: hsl(208, 34%, 83%);
}

.footer-box span {
    text-decoration: underline hsl(208, 34%, 83%);
    ;
}

.main-footer {
    height: fit-content;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.main-footer .footer-content p {
    padding: 0.4rem 0;
    text-decoration: underline hsl(208, 34%, 83%);
    color: hsl(208, 34%, 83%);
    font-size: 0.9rem;
}

#bottom-lang {
    border: 0.1rem solid grey;
    background-color: rgb(26, 25, 25);
    padding: 0.3rem 0.9rem;
    color: white;
    border-radius: 0.25rem;
    display: inline-block;
}

#netflix-end {
    color: white;
    font-size: 0.8rem;
}

hr {
    width: 80%;
    opacity: 0.5;
    margin: auto;
}

/* Responsive */
@media screen and (max-width: 768px) {

    .text-content h1 {
        font-size: 3rem;
    }

    .e-b-box button {
        width: 6rem;
        font-size: 0.8rem;
        margin-top: 0.6rem;
    }

    .text-content h2 {
        font-size: 1.5rem;
    }

    .section-main {
        width: 100%;
    }

    .Q-box {
        width: 60%;
    }

    .Q-row {
        height: 6vh;
    }

    .section {
        margin-top: 5rem;
    }

    .section-main h1 {
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    .section-main img {
        width: 20rem;
    }

    .e-b-box input {
        width: fit-content;
    }

}

/*
    This media query will apply the CSS styles to screens that are smaller than 480px wide.
    */

@media screen and (max-width: 580px) {

    /*
    This code will make the text-content h1 and h2 elements even smaller so that they fit on even smaller screens.
    */

    .netflix-nav {
        width: 100%;
        padding: 0 1.2rem;
    }

    .container {
        background: none;
    }

    .hero-content {
        width: 90%;
    }

    .email {
        display: flex;

    }

    .text-content {
        margin: auto;
        flex-wrap: wrap;
    }

    .text-content h1 {
        font-size: 3rem;
        height: fit-content;
        width: 80%;
        padding-top: 10rem;
        z-index: 999;
        position: absolute;
        padding: 0 0.5rem;
        word-wrap: break-word;
        align-items: start;
    }

    .text-content h2 {
        font-size: 1rem;
        align-items: end;
        word-wrap: break-word;
        z-index: 999;
        position: absolute;
        top: 18rem;
        padding: 0 0.5rem;
    }

    .text-1 p {
        font-size: 0.8rem;
    }


    .section-main h1 {
        font-size: 2rem;
        padding: 0.5rem 0;
    }

    .section-main {
        width: 100%;
        padding: 1rem;
        flex-direction: column;
    }

    .section-main img {
        width: 16rem;
    }

    hr {
        padding: 0.2rem;
        color: rgb(82, 82, 82);
        width: 90%;
        background-color: rgb(33, 33, 33);
    }

    .Q-box {
        width: 100%;
    }

    .Q-row h2 {
        font-size: 1rem;
    }

    .e-b-box input {
        width: fit-content;
    }

    .section-main {
        width: 100%;
    }
    .section{
        margin-top: 0;
    }

    .Question{
        margin-top: 5rem;
        height: fit-content;
        margin-bottom: 5rem;
    }
    .Q-heading h1{
        font-size: 1.2rem;
    }
    /*
    This code will hide the footer-box div on even smaller screens.
    */

    .footer-box {
        width: 100%;
        margin: auto;
    }

    .netflix-left img {
        width: 7rem;
    }

    .netflix-right {
        position: absolute;
        right: 0.2rem;
        font-size: 0.8rem;
        padding-right: 1rem;
    }

    .sign-in {
        height: 2.1rem;
    }

    .e-b-box {
        width: fit-content;
        padding: 0.2rem;
    }

    .center-email h3 {
        padding: 0.2rem;
    }

    .membership {
        /* padding: 0.2rem;*/
        position: relative;
        buttom: 50vh;
        height: 60vh;
        margin: 0;
        width: 100%;
        background: -webkit-linear-gradient(rgba(1, 3, 50, 0.5), rgba(0, 3, 100, 0.4)), url("/image/background1.jpg");
        filter: brightness(100%);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }



    /* footer */
    .main-footer {
        width: 100%;
        margin: 0;
        display: block;
    }

    .number {
        padding-bottom: 2rem;
    }

    #netflix-end {
        padding-bottom: 2rem;
    }

    .email {
        position: relative;
        top: 18rem;
    }

}

@media only screen and (min-width: 983px) and (max-width:1360px) {
    .text-content h1 {
        font-size: 4.3rem;
        position: absolutes;
    }

    .section {
        margin-top: 5rem;
    }

    .section-main h1 {
        font-size: 2rem;
    }

    .section-main img {
        width: 30rem;
    }

}

@media only screen and (min-width: 768px) and (max-width:984px) {
    .text-content h1 {
        font-size: 3.6rem;
    }

    .e-b-box button {
        width: 6rem;
        font-size: 0.8rem;
        margin-top: 0.8rem;
    }

    .section {
        margin-top: 5rem;
    }

    .section-main h1 {
        font-size: 2rem;
    }

    .section-main img {
        width: 30rem;
    }

}