*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: wheat;
}
/* !Navbar styles are here */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 41, 41);
    color: wheat;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart{
    background-color: wheat;
    color: rgb(46, 41, 41);
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    position: relative;
}
.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 3px;
}

/* !Shop items styles are here */
.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

@media(max-width:1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}
@media(max-width:500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 2px solid black;
    border-radius: 4px;
}
.item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}


/* !style rules for label and some buttons */

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll{
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
.checkout{
    background-color: green;
}
.removeAll{
    background-color: red;
}


.bi-x-lg{
    color: red;
    font-weight: bold;
}

/* !style rules for shopping cart */
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

/* !style rules for cart-item */
.cart-item{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price{
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}
