/* #321F28
#734046
#A05344
#E79E4F */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --AlmostBlack: #010101;
  --grey: hsl(180, 2%, 72%);
  --yellow: #fcc908;
  --flamingo: rgb(240, 98, 54);
  --white: #fdfdfd;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: #42032C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #42032C;
  width: 80vw;
  max-width: 1152px;
}

h1,h2 {
  font-size: 3vw;
  font-weight: 700;
  color: #fff;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}


#header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #42032C;
  z-index: 2;
}

.fixed {
  width: 100%;
  position: relative;
  box-shadow: 1rem .2rem 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#logo-img {
  height: 101px;
  width: 201px;
}
#kebab-pic{
  height: 101px;
  width: 201px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-item:hover,
.nav-item:focus {
  filter: brightness(0.5);
}

.nav-item a{
  text-decoration: none;
  color: #F7F6DC;
  font-size: 2vw;
  font-weight: 400;
}

.nav-sidebar {
  display: none;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 450px;
  min-height: 450px;
  margin: 0rem 0rem 2rem 0rem;
  gap: 2rem;
  padding: 0 5% 0 5%;
  border-radius: 2rem;
  box-shadow: 1rem .2rem 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

#intro {
  margin-top: 1rem;
  background-color: #fff;
  width: 100%;
  padding: 0;
}

.sub-heading {
  width: 45%;
  height: 5.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro-logo {
  width: 100%;
  height: 4.3vw;
}

#intro-back {
  height: 100%;
  width: 100%;
  background-image: url(./images/intro.jpg);
  background-size: cover;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#intro-heading h1 {
  filter: brightness(1);
  margin: 0 0 2rem 0;
  text-align: center;
  color: #F7F6DC;
}

button {
  width: 15rem;
  height: 5rem;
  border: 2px solid #F7F6DC;
  background-color: #42032C;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

#intro-book > a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

#intro-book:hover {
  filter: opacity(0.5);
}


#team {
  margin-top: 3rem;
  background-color: #fff;
  margin: 1rem 0 2rem 0;
}

#team-heading {
  width: 35%;
}

#team-heading h2 {
  font-size: 4rem;
}

.tutorial-video {
  margin: 0 1rem 0 1rem;
}


#detail {
  margin: 1rem 0 0 0;
  background-color:#A62349;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail .card {
  height: 80%;
  width: 30%;
  background-color: #42032C;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.card h3 {
  color: #A62349;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.card p {
  color: var(--flamingo);
}

#detail-opening p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#detail-tutorial p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}


#detail-location h3 {
  margin-bottom: 4rem;
}

#booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 90%;
}

#detail-booking h3 {
  margin-bottom: 1rem;
}

label {
  color: #A62349
  
}

input {
  height: 2rem;
  width: 90%;
  border-radius: .5rem;
  background-color: var(--grey);
  padding-left: 10%;
}

input:hover,
input:focus {
  border: 3px solid #A62349;
}


footer {
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #A62349;
  border-radius: 1rem;
}

#footer-logo-img {
  height: 55px;
  width: 101px;
  margin: 2rem;
}

footer p {
  align-self: flex-end;
  margin-right: 2rem;
}


@media only screen and (max-width: 900px) {
  .container {
    width: 90vw
  }

  #header {
    height: 4rem;
    gap: 1rem;
    background-color: #A62349;
    z-index: 2;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .fixed {
    width: 100%;
    position: relative;
    box-shadow: 1rem .2rem 1rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  } 

  #logo-img {
    height: 55px;
    width: 101px;
    align-self: flex-start;
    margin-left: 2rem;
  }


  .nav-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav-btn,
  #side-btn {
    display: flex;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    border: 0px;
    align-self: flex-end;
    margin: 1rem;
  }

  .sidebar-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    
  }
  
  .side-item {
    list-style: none;
  }
  
  .side-item:hover,
  .side-item:focus {
    filter: brightness(0.5);
  }
  
  .side-item a{
    text-decoration: none;
    color: var(--flamingo);
    font-size: 1rem;
  }


section {
  height: 400px;
  min-height: 400px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#intro {
  margin-top: 1rem;
  background-color: var(--AlmostBlack);
  width: 100%;
  padding: 0;
}

.sub-heading {
  width: 90%;
  height: 5.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro-logo {
  width: 100%;
  height: auto;
}

#intro-heading h1 {
  font-size: 2rem;
  filter: brightness(1);
  margin: 0 0 2rem 0;
  text-align: center;
  color:#fff;
}

#intro-book:hover,
#intro-book:focus {
  filter: opacity(0.5);
}


#team {
  flex-wrap: wrap;
  height: 470px;
  gap: 0;
}

#team-heading {
  width: 90%;
  margin-top: 2rem;
}

#team-heading h2 {
  font-size: 3rem;
}

.tutorial-video {
  margin: 0 0rem 0 0rem;
}

iframe {
  height: 200px;
  width: 340px;
}


#detail {
  height: auto;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

#detail .card {
  height: auto;
  width: 100%;
}

#detail-location h3{
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#booking {
  gap: 1rem;
  width: 90%;
  padding-bottom: 1rem;
}

#logo-img {
  height: 40px;
  width: 80px;
}

footer p {
  font-size: 1rem;
}

}