body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(https://i.postimg.cc/hjkL7MBg/programming-background-with-person-working-with-codes-computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px; */
  text-align: center;
  transition: all 10ms;
}

.content .logo {
  height: 200px;
  text-align: center;
}

.content .title {
  font-size: 3.2rem;
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
}
.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin-top: 1rem;
  font-weight: bold;
  /* margin-left: 40%; */
}
.content .text {
  line-height: 1.7;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  /* font-family: "Abril Fatface", cursive; */
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.services h3{
  font-size: 2rem;
}
.services p{
  font-size: 1.2rem;
}
.about h3{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.about p{
  font-size: 1.1rem;
  color: black;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}

/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, 150%);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  min-height: 100%;
  /* justify-content: center; */
  padding: var(--spacing-xxl) var(--spacing-l);
}

.input-container {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  gap: 18px;
}

.input-container input {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;

  border: 1px solid rgb(160, 160, 160);

  box-shadow: 0 0 2px 0 rgb(110, 109, 109);

  flex: 1;

  max-width: 380px;

  font-size: 0.8em;

  padding: 0.2em 0.4em;

  border-radius: 9px;
}

.input-container input:focus-within {
  border: 1px solid rgb(255, 255, 255);

  box-shadow: 0 0 3px 0 rgb(224, 221, 221);
}
.input-container input::placeholder {
  color: rgb(183, 182, 182);
}

.input-container select {
  font-size: 0.8em;

  color: white;
  background-color: transparent;
  border: 1px solid white;

  border-radius: 9px;

  padding: 0.2em 0;

  /* align-self: stretch; */
}

.input-container select option {
  background-color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);

  justify-content: center;

  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  border-radius: var(--spacing-l);
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: white;
  font-size: 2.3rem;
  text-shadow: 0 0 20px black;
  line-height: 1.4;
  word-spacing: 100vw;
  text-align: center;
  z-index: 1;
}
