:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  /*adding new back ground color*/
 background-color: #635985;
  /*background: rgba(0, 0, 0, 0.9);*/
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   height: 100%;
   width: 100%;
}
 .showcase{
  display: flex;
  background-size: cover;/*to make image look better*/
  width: 100%;
  text-align: center;
 
} 


.showcase::after{
  content: "";
  height: 100vh;
  width: 100%;
 background-image: url(./codecanvasnew.jpg);/*adding new image to background*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
 background-position-x:left;
  /*display: block;*/
  /*enabling the actual animation*/
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/* .showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

.content {
  /*position: absolute;*/
  z-index: 1;
  top: 5%;
  left: 0;
  margin-top: 105px;
  height: 0px;
  width: 0px;
 /* text-align: center;  */ 
  margin-bottom: 20px;
  text-align: left;
}
.content>img{
  text-align: left;
  height: 300px;
  width: 400px;
  margin-left: 60px;
}
/*giving are heading text new heights and width*/
.headsec{
  height: 100px;
  width: 500px;
}
.note{
  height: 500px;
  width: 500px;
}
#left{
  text-align: left;
}
.title {
 /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
width: 100%;
 letter-spacing: 0.3px;
  font-size: 3.5rem;
  margin-top: 1rem;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 700;
  /*font-family: "Abril Fatface", cursive;*/
  text-align: left;
  margin-left:50px;
}

.text {
  line-height: 1.7;
  margin-top: 1rem;
  font-size: 30px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-left:50px;
  font-family: "Abril Fatface", cursive;
  width: 100%;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
  /* margin-left: 40%; */
}
/* Services */
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

/* About */

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, 150%);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  min-height: 100%;
  /* justify-content: center; */
  padding: var(--spacing-xxl) var(--spacing-l);
}

.input-container {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  gap: 18px;
}

.input-container input {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0 0 2px 0 rgb(110, 109, 109);
  flex: 1;
  max-width: 380px;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  border-radius: 9px;
}

.input-container input:focus-within {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 3px 0 rgb(224, 221, 221);
}
.input-container input::placeholder {
  color: rgb(183, 182, 182);
}

.input-container select {
  font-size: 0.8em;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 9px;
  padding: 0.2em 0;
  /* align-self: stretch; */
}

.input-container select option {
  background-color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);

  justify-content: center;

  max-width: var(--width-container);
  width: 100%;
}
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1160px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 6px 0 rgba(112, 112, 112, 0.703);

  border-radius: var(--spacing-l);
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  /* transform: scale(1) translateZ(0); */
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  /* transform: scale(1.05) translateZ(0); */  
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.card__content {
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  
  background-color: gray;

  border-radius: var(--spacing-l);
  border-top-left-radius: 0;
  
}

.card__category {
  color: rgba(245, 245, 245, 0.693);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  
}
.card__heading {
  font-size: 20px;
  font-weight:100px;
  color: #f5eded;
  margin-top: 10px;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}


/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* ------Scroll To Top Button-------- */
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;
  height: fit-content;
  width: fit-content;
  z-index: 100000;
}
.fa-solid {
  position: absolute;
  left: 33%;
  top: 27%;
}
#myBtn {
  transition: background 0.5s, transform 0.5s, height 0.5s, width 0.5s;
}
#myBtn:hover {
  height: 50px;
  width: 50px;
  background-color: #c9c9c9d0;
  transform: translateY(-15px);
}
.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2980b9;
}

/* Footer Section Starts */
/*.section{
    background-color: black;
    enhancing it a bit more
}*/
.wrapper{
    text-align: center;
   }

  .section h3{
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 {
    color: rgb(0 159 157);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .youtube:hover,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip::before {
      background-color: #CD201F;
      color: #ffffff;
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #CD201F;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }



.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: rgba(229, 228, 232, 0.58);
}
.footer-copyright a {
  color: #1d0f44ad;
  transition: all 0.3s ease;
}
/* Footer Section Ends */
/* CSS for Light-Dark Theme SWITCH */
.theme-toggle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 5px;
}

.invert-color {
  filter: invert(100%);
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.dark-theme {
  filter: invert(1) hue-rotate(180deg);
}

.dark-theme .footer-content .socials li a {
  color: #000000;
}

a {
  text-decoration: none;
  color: #fff;
  right: 0;
  height: auto;
  position: static; 
  bottom: 0;
  width: 100%;
    max-width: 700px;
  }