:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   height: 100%;
}

.showcase::after{
    content: "";
  height: 100vh;
  width: 100%;
  background-image: url(https://i.postimg.cc/hjkL7MBg/programming-background-with-person-working-with-codes-computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/* .showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;   
  margin-bottom: 20px;
}

.content .logo {
  height: 200px;
  width: 300px;
}

.content .title {
  font-size: 3.2rem;
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
}

.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
  /* margin-left: 40%; */
}
/* Services */
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

/* About */

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, 150%);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  min-height: 100%;
  /* justify-content: center; */
  padding: var(--spacing-xxl) var(--spacing-l);
}

.input-container {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  gap: 18px;
}

.input-container input {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0 0 2px 0 rgb(110, 109, 109);
  flex: 1;
  max-width: 380px;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  border-radius: 9px;
}

.input-container input:focus-within {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 3px 0 rgb(224, 221, 221);
}
.input-container input::placeholder {
  color: rgb(183, 182, 182);
}

.input-container select {
  font-size: 0.8em;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 9px;
  padding: 0.2em 0;
  /* align-self: stretch; */
}

.input-container select option {
  background-color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);

  justify-content: center;

  max-width: var(--width-container);
  width: 100%;
}
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1160px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 6px 0 rgba(112, 112, 112, 0.703);

  border-radius: var(--spacing-l);
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  /* transform: scale(1) translateZ(0); */
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  /* transform: scale(1.05) translateZ(0); */  
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.card__content {
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  
  background-color: rgba(12, 24, 28, 0.875);

  border-radius: var(--spacing-l);
  border-top-left-radius: 0;
  
}

.card__category {
  color: rgba(245, 245, 245, 0.693);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  
}
.card__heading {
  font-size: 20px;
  font-weight:100px;
  color: #f5eded;
  margin-top: 10px;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}


/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* ------Scroll To Top Button-------- */
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;
  height: fit-content;
  width: fit-content;
  z-index: 100000;
}
.fa-solid {
  position: absolute;
  left: 33%;
  top: 27%;
}
#myBtn {
  transition: background 0.5s, transform 0.5s, height 0.5s, width 0.5s;
}
#myBtn:hover {
  height: 50px;
  width: 50px;
  background-color: #c9c9c9d0;
  transform: translateY(-15px);
}
.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #2980b9;
}

/* Footer Section Starts */
.section{
    background-color: black;
}
.wrapper{
    text-align: center;
   }

  .section h3{
  color: #ffffff;
  text-align: center;
  margin-bottom: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: .1em;
  }

  .section h3 span{
    color: rgb(0 159 157);
  }
  
  .wrapper .icon{
      position: relative;
      background-color:  #ffffff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      text-align:center ;
      display: inline-flex;
     flex-direction: column;
      align-items: center;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #333;
      text-decoration: none;
    }
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      line-height: 1.5;
      font-size: 14px;
      background-color: #ffffff;
      color: #ffffff;
     padding: 10px 18px;
      border-radius: 25px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background-color: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background-color: #7289da;
      color: #ffffff;
    }
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background-color: #3b5998;
      color: #ffffff;
    }
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background-color: #e1306c;
      color: #ffffff;
    }
    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
      background-color: #333333;
      color: #ffffff;
    }
    .wrapper .linkedin:hover,
    .wrapper .linkedin:hover .tooltip,
    .wrapper .linkedin:hover .tooltip::before {
      background-color: #003288;
      color: #ffffff;
    }



.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: rgba(229, 228, 232, 0.58);
}
.footer-copyright a {
  color: #1d0f44ad;
  transition: all 0.3s ease;
}
/* Footer Section Ends */
