@import url('https://fonts.googleapis.com/css?family=Poppins');

a {
    text-decoration: none;
    /* color:aliceblue; */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* font-size: 10px; */
    color:aliceblue;
    background:linear-gradient(45deg,#170a69, #12075c, #0d092f);

}

/* Navigation Bar */

nav {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    left:0;
    height:fit-content;
    width:100vw;
    /* padding: 1rem; */
    color: #0d092f;
    background: linear-gradient(
        rgba(255, 255, 255, 0.796), rgba(145, 142, 243, 0.637)
    );
}

header > nav > ul > li > a {
    color:#0d092f;
}

header > nav > h2 > a {
    color:#0d092f;
}
header > nav > ul > li > a {
    color:#0d092f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    font-size: 20px;
    overflow: hidden;
}

li {
    padding-left: 1rem; 
    float: left;
}

/* About Section and Profile */
#avatar {
    width:250px;
    margin-right: 1rem;
    margin-top: 1rem;
    float: right;
    shape-outside: circle(50% at 148px 156px);
    padding: 1rem;
}

#name {
    font-family: 'Sacramento', cursive;
    font-size:5rem;
    padding: 1rem;

}

#designation {
    font-size: 30px;
}

p {
    font-size: 2em;
    line-height: 40px;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    top: 40px;
    margin: 30px;
    position: relative;
    left: 200px;
}

/* Skills Section */

.skillimg {
    width: 200px;
    height: 200px;
}


.skills {
    margin-bottom: 100px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 30px;
}
/* Projects */

.projects {
    display: flex;
    justify-content: space-evenly;
}

.profile {
    margin-bottom: 100px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-pic {
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.skill-row,
.project-row {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    font-size: 10px;
    margin: 20px;
}

.bottom {
    font-size: 4em;
    margin-top: 50px;
}

.btn {
    font-size: 2em;
}

.mid {
    margin-bottom: 50px;
}

.about {
    width: 64rem;
    font-size: 1em;
    /* line-height: 40px; */
}

div.experience {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.experience .exp {
    display: flex;
    margin-bottom: 20px;
}

div.experience .exp h3,
div.experience .exp p {
    margin: 10px;
}

.ex1 {
    align-items: flex-start;
    text-align: left;
}

.ex2 {
    align-items: flex-end;
    text-align: right;
}

.ex1,
.ex2 {
    margin-left: 200px;
    margin-right: 200px;
}

.expimg {
    margin-left: auto;
}

.innerexp {
    height: 8rem;
}

.sjit {
    position: relative;
    top: 100px;
}

#copyright {
    font-size: 30px;
}