body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
    font-family: 'Mali';
}
.main {
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
}
  
.title {
    font-size: 24px;
    margin-bottom: 2rem;
}
button{
    height: 150px;
    width: 250px;
    margin: 30px;
    font-family: 'Mali';
}
.img{
    margin: 100px;
}
img{
    height: 500px;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}